body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6em;
}

.aa11, .cc33 {
    float: left;
    width: 50%;
}

.bb22, .dd44 {
    margin: 0 50%;
    width: 50%;
}

p {
    padding-top: 0px;
    padding: 15px;
    margin: 0px;
}

.cc33 {
    background-color: red;
}
.qqq {
    clear: both;
}

p.ee55 {
    color: red;
    text-align: center;
}